{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<h2 class="text-2xl font-bold text-center mb-6">Register</h2>
<div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md">
  <form method="post" class="space-y-4">
    {% csrf_token %}
    
    {% for field in form %}
      <div>
        <label class="block text-gray-700 font-medium ">{{ field.label_tag }}</label>
        {{ field|add_class:"border border-gray-400 rounded-md p-2 w-full focus:outline-none focus:ring-2 focus:ring-gray-500" }}
        {% if field.errors %}
          <p class="text-red-500 text-sm">{{ field.errors.as_text }}</p>
        {% endif %}
      </div>
    {% endfor %}

    <button type="submit" class="w-full bg-green-500 text-white py-2 rounded-lg hover:bg-green-600">
      Register
    </button>
  </form>
</div>
{% endblock %}